<div class="container">

<fieldset>
  <legend>&nbspTell Us About Your Pet's Care&nbsp</legend>

  <form action="<%= care_create_path(params[:pet_id]) %>" method="post" >
    <input  type="hidden"
            name="authenticity_token"
            value="<%= form_authenticity_token %>">
    

      <h5>WALKS</h5>
      <div class="row">
          <label>How many times per day should your pet be walked?&nbsp&nbsp</label><input type="integer" name="care[walk_frequency]">
      </div>
      <div class="row">          
          <label>How long (in minutes) is each walk?&nbsp&nbsp</label><input type="integer" name="care[walk_length]">
      </div>
      <div class="input-field row">
        <label for="leashInstructions">Any special leash instructions?</label><input id="leashInstructions" type="text" name="care[walks_leash]"><br />
      </div>
      <div class="input-field row">
        <label for="additionalDetails">Any additional details for a safe and happy walkabout?</label><input id="additionalDetails" type="text" name="care[additional_details]"><br />
      </div>


      <br />
      <h5>FEEDING</h5>
      <div class="row">
          <p>&nbsp&nbspDry Food:</p>
      </div>
      <div class="row">
        <div class="col s6">          
          <label>Cups per feeding:&nbsp&nbsp</label><input type="integer" name="care[food_amount_dry]">
        </div>
        <div class="col s6">
          <label>Times per day:&nbsp&nbsp</label><input type="integer" name="care[food_frequency_dry]">
        </div>
      </div>
      <div class="row">
          <p>&nbsp&nbspWet Food:</p>
      </div>
      <div class="row">
        <div class="col s6">
          <label>Cups per feeding:&nbsp&nbsp</label><input type="integer" name="care[food_amount_wet]">
        </div>
        <div class="col s6">
          <label>Times per day:&nbsp&nbsp</label><input type="integer" name="care[food_frequency_wet]">
        </div>
      </div>


      <br />
      <h5>COMMANDS</h5>
      <div class="row">
        <div class="input-field col s6">
          <label for="command">Is there an effective obedience command your pet knows?</label><input id="command" type="text" name="care[command_name]"><br>
        </div>
        <div class="input-field col s6">
          <label for="commandDescription">What is your pet trained to do when this command is issued?</label><input id="commandDescription" type="text" name="care[command_description]"<br>
        </div>
      </div>


      <br />
      <h5>GROOMING INSTRUCTIONS</h5>
      <div class="row">
        <div class="input-field col s12">
          <label for="groomingInstructions">What the grooming procedure for your pet?</label><input id="groomingInstructions" type="text" name="care[grooming]">
        </div>
      </div>


      <br />
      <h5>SPECIAL NEEDS</h5>
      <div class="row">
        <div class="input-field col s12">
          <label for="specialNeeds">Is there anything special your pet needs?</label><input id="specialNeeds" type="text" name="care[special_needs]"<br>
        </div>
      </div>


      <br />
      <h5>FEARS</h5>
      <div class="row">
        <div class="input-field col s12">
          <label for="fearList">Please list any fears your pet has</label><input id="fearList" type="text" name="care[fears]"<br>
        </div>
      </div>


      <br />
      <h5>TREATS</h5>
      <div class="row">
        <div class="input-field col s12">
          <label for="treatList">Any treats or rewards for good behavior?</label><input id="treatList" type="text" name="care[treats]"><br>
        </div>
      </div>


      <button class="btn waves-effect waves-light" 
            type="submit" 
            name="action">SUBMIT
      </button>



    </fieldset>
  </form>

</div>





