

<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>PetGuru</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--   <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
 --></head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <img id="logo-container"> <!-- class="black-text brand-logo nav_icon" src="guru_icon.png"> -->
      <ul class="right hide-on-med-and-down">
        <li><a class="black-text" href="<%= new_session_path %>">LOG IN</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a class="black-text" href="<%= new_session_path %>">LOG IN</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="black-text material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center orange-text text-darken-1"><img id="splashPic" src="guru_icon.png">PetGuru</h1>
        <div class="row center">
          <h5 class="header col s12 light">Optimizing How People Care For Their Pets</h5>
<!--           <h5 class="header col s12 light">and managing your PetCare Practices</h5>
 -->        </div>
        <div class="row center">
          <a href="<%= new_user_path %>" id="download-button" class="btn-large waves-effect waves-light orange darken-1">Let's Get Started</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="TopBanner.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="large material-icons"></i><img src="/Icon_Medical.png"></h2>
            <h5 class="center">Medical</h5>

            <p class="light">Upload and arrange all of your pet's vital medical information so that you can easily access it at any time.</p>
            <p class="light">PetGuru streamlines and simplifies the organizational process for you, so that you are never confused about where your pet's most crucial health documents are located. Utilize PetGuru to receive digital Medical Forms or Prescriptions directly from your Vet.</p>
      <!--       <p class="light">Input your pet's recreational behaviors so that you can detail and monitor the way your pet likes to play.</p> -->
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="large material-icons"></i><img src="/Icon_Chaperone.png"></h2>
            <h5 class="center">Care</h5>

            <p class="light">Build a Personal PetCare Platform to reference and manage the way you maintain your pet's health and happiness.</p>
            <p class="light">Arrange and customize your PetGuru profile in the way that appeals to you! PetGuru provides an impressive visual display that best represents the unique relationship that you share with your pet.</p>
            <p class="light">Input your pet's recreational behaviors so that you can detail and monitor the way your pet likes to play.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="large material-icons"></i><img src="/Icon_EasyToWorkWith.png"></h2>
            <h5 class="center">Share + More</h5>

            <p class="light">Easily share your PetGuru information with sitters so that your entrusted pet chaperones always know how to best treat your beloved companions.</p>
            <p class="light">Have multiple pets? No problem! Easily toggle between all of your furry family member profiles in just one click.</p>
            <p class="light">Always be in the know for ultimate peace of mind! PetGuru implements a Responsibility- Calendar and Owner Notification System. Sitters, PetCare Providers, Medical Specialist alike can update you when the required tasks you’ve outlined for your caretaker to complete are satisfied.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light shifty">Sharing your PetCare instructions and guidelines with Sitters can take forever.  Expedite the process via PetGuru by instantly sharing your preferred petcare practices in just a matter of clicks.</h5>         
        </div>
      </div>
    </div>
    <div class="parallax"><img src="bottomBanner.jpeg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3></i><img src="/Icon_Contact.png"></h3>
          <h4>Contact Us</h4>
         <!--  <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p> -->
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light shifty">We know how deep the bond between you and your pet runs.</h5>
          <h5 class="header col s12 light">We want to prepare you for pet medical emergencies.</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="middleBanner.jpg" alt="Unsplashed background img 3"></div>
  </div>


  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">PetGuru</h5>
          <p class="grey-text text-lighten-4">Founded in 2015.  PetGuru is a company that strives to optimize the experience of maintaining your pet's best health.</p>
        </div>
<!--         <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div> -->
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Connect With Us!</h5>
          <ul>
            <li class="white-text">Email: petguru@gmail.com</li>
            <li class="white-text">Give us a ring: 111-222-3333</li>
<!--             <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li> -->
          </ul>
        </div>
      </div>
    </div>



    <!-- <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div> -->
  </footer>


  <script>
    $(document).ready(function(){
      $('.parallax').parallax();
    });

    $(".button-collapse").sideNav();
  </script>

  </body>
</html>