<div class="container">


  <fieldset>
  <legend>&nbspTell Us How Your Pet Plays&nbsp</legend>

  <form action="<%= play_create_path(params[:pet_id]) %>" method="post" >
    <input  type="hidden"
            name="authenticity_token"
            value="<%= form_authenticity_token %>">

      <div class="row">
        <div class="input-field col s12">
          <label for="favToys">Any favorite toys?</label><input id="favToys" type="text" name="play[toy]">
        </div>
      </div>


    <br />
    <div class="row">
      <div class="input-field col s12">
        <label for="localParks">Which local parks are familiar for your pet?</label><input id="localParks" type="text" name="play[park]">
      </div>
    </div>


    <br />
    <div class="row">
      <div class="input-field col s12">
        <label for="favGames">Any games your pet likes to play?</label><input id="favGames" type="text" name="play[games]">
      </div>
    </div>


    <br />
    <div class="row">
      <div class="input-field col s12">
        <label for="regHabits">What are your pet's regular play habits?</label><input id="regHabits" type="text" name="play[habits]">
      </div>
    </div>


    <br />
    <div class="row">
      <div class="input-field col s12">
        <label for="addDetails">Any additional play information you want to share?</label><input id="addDetails" type="text" name="play[additional_details]">
      </div>
    </div>


      <button class="btn waves-effect waves-light" 
            type="submit" 
            name="action">SUBMIT
      </button>

  </form>

</fieldset>



</div>
